<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/user/{{user.id}}/edit" method="post">            
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{user.username}}" id="username">
        <label for="email">Email:</label>
        <input type="text" name="email" value="{{user.email}}" id="email">
        <label for="age">Age:</label>
        <input type="number" name="age" value="{{user.age}}" id="age">
        <label for="country">Country:</label>
        <input type="text" name="country" value="{{user.country}}" id="country">
        <!-- <input type="hidden" name="user_id" value="{{user.id}}"> -->
        <input type="submit" value="Submit User">
    </form>
    
</body>
</html>